<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Particle Gesture</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="container">
    <div class="col justify-content-center align-content-center">
      <!-- TODO: REPLACE ALL OF THESE IFRAMES WHICH ACTUALLY MEANINFUL GRAPHS/WEBHOOKS -->
      <h1 class="">Exercise Form Corrector</h1>
      <div class="container">
        <div class="row">
          <div class="col">
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2531863/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=125&type=line"></iframe>
          </div>
          <div class="col">
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2531863/widgets/853596"></iframe>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2533206/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
          </div>
          <div class="col">
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2533206/widgets/853594"></iframe>
          </div>
        </div>
      </div>
      <form method="post" style="padding-top: 20">
        Reps: <input type="text" name="reps" value="" /><br />
        <div class="row justify-content-center">
          <input type="submit" name="submit" value="Start" /><br />
          <input type="submit" name="submit" value="Stop" />
        </div>
      </form>
    </div>
    {% if pred %}
    <h1>Prediction History:</h1>
    {% autoescape false %} {{pred}} {% endautoescape %} {% endif %}
  </body>
</html>
